page-edit-form {
    .questions{
        width: 700px;
        margin: auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 1px 5px 1px $card-md-box-shadow-color;
        background-color: white;
        ion-item{
            background-color: white;
        }
    }
}
